<ul class="social">

  <li>
    <a href="/feed.xml">
      {% include icons/feed.svg %}
    </a>
  </li>

  <li>
    <a href="https://twitter.com/lmprht" target="_blank">
      {% include icons/twitter.svg %}
    </a>
  </li>

  <li>
    <a href="https://github.com/leo" target="_blank">
      {% include icons/github.svg %}
    </a>
  </li>

  <li>
    <a href="http://playbook.leo.im" target="_blank">
      {% include icons/dribbble.svg %}
    </a>
  </li>

  <li>
    <a href="mailto:mindrun@icloud.com">
      {% include icons/mail.svg %}
    </a>
  </li>

</ul>
