---
---

::selection {
  background: #616161;
}

::-moz-selection {
  background: #616161;
}

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: default;
}

body {
  margin: 0;
  background: #fff;

  @media (min-width: 768px) {
    box-sizing: border-box;
    border: 30px solid #fff;
    background: #FF6262;
  }
}

section {
  font-family: 'Cardo', serif;

  h1 {
    font-size: 57px;
    left: 35px;
    top: 35px;
    font-weight: normal;
    margin: 0;
    position: absolute;
    padding-right: 35px;
    line-height: 1.2em;

    &:focus {
      outline: none;
    }
  }

  @media (min-width: 768px) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: center;

    h1 {
      position: relative;
      display: inline-block;
      left: auto;
      top: auto;
      padding-right: 0;
      font-size: 73px;
      color: #fff;
    }
  }
}

nav {
  font-family: 'Courier New', serif;
  position: absolute;
  left: 25px;
  bottom: 27px;
  white-space: pre-line;

  a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    padding: 10px;
    display: inline-block;
  }

  @media (min-width: 768px) {
    left: 30px;
    right: 30px;
    white-space: nowrap;
    text-align: center;
    bottom: 30px;
    font-size: 0;

    a {
      font-size: 17px;
      padding: 6px 19px;
      color: #fff;

      &:hover {
        background: #616161;
      }
    }
  }

  @media (max-height: 390px) and (min-width: 768px) {
    display: none;
  }
}
