---
---

<section>
  <h2>Just call me</h2>
  <h1>Leo</h1>
</section>

<nav>
  <a href="https://medium.com/@leo">Essays</a>
  <a href="https://github.com/leo">Code</a>
  <a href="https://twitter.com/notquiteleo">Opinions</a>
  <a href="https://dribbble.com/notquiteleo">Art</a>
  <a href="https://instagram.com/notquiteleo">Stupid teenagers</a>
</nav>
